<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoolWeatherApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE5BE9EA1D5D0B8F00DDAB4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE5BE9FE1D5D0B8F00DDAB4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE5BEA091D5D0B8F00DDAB4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
